<!DOCTYPE HTML><head><title> NBCloud Docs </title>

    <link rel="icon" 
          type="image/png" 
          href="/static/logo.png" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    
    
</head> <!-- The NotebookCloud Login Screen ~ (this file shouldn't really be called homepage.html) -->

<center>
    <div class=page>
        <b>NotebookCloud</b>
        <br><br>
        You're logged in with your Google Account.
        <br><br>
	<span class=pwd_good>{{ email }}</span>
	<br><br>
        You will need to create a NotebookCloud account to continue.
	<br><br><br>
        <!-- Nav Menu -->
        <div>
            <form>
            <input type=button class="ibutton" onclick="window.location.href = '/docs'"
                onmousedown="this.className = 'ibutton_in'" onmouseup="this.className = 'ibutton'"
                onmouseout="this.className = 'ibutton'" value="Documentaion">
            <br><br>
            <input type=button class="ibutton" onclick="window.location.href = '/mainform'"
                onmousedown="this.className = 'ibutton_in'" onmouseup="this.className = 'ibutton'"
                onmouseout="this.className = 'ibutton'" value="Create NotebookCloud Account">
            <br><br>
            <input type=button class="ibutton" onclick="window.location.href = '/google_logout'"
                onmousedown="this.className = 'ibutton_in'" onmouseup="this.className = 'ibutton'"
                onmouseout="this.className = 'ibutton'" value="Sign out">
            </form>
        </div>

    </div>
</center>

</body>
</html>
